docs/generator/doc.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.couchbase.com/lite/api" schemaLocation="lite-api.xsd"/>
	
	<xs:element name="set">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="introduction" type="content-type" minOccurs="0" maxOccurs="1"/>
				<xs:element name="items" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:choice>
							<xs:element ref="class" minOccurs="1" maxOccurs="unbounded"/>
							<xs:element ref="guide" minOccurs="1" maxOccurs="unbounded"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			
			<xs:attribute name="id" type="xs:string" use="required" />
			<xs:attribute name="title" type="xs:string" use="required" />
			<xs:attribute name="description" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="class">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="introduction" type="content-type" minOccurs="1" maxOccurs="1"/>
				<xs:element name="related" type="ref-list-type" minOccurs="0" maxOccurs="1"/>
				<xs:element name="dependencies" type="ref-list-type" minOccurs="0" maxOccurs="1"/>
				
				<xs:element name="lessons" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="lesson">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="introduction" type="content-type" minOccurs="1" maxOccurs="1"/>
										<xs:element name="related" type="ref-list-type" minOccurs="0" maxOccurs="1"/>
										
										<xs:element name="tasks" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="task">
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="content-type">
																	<xs:attribute name="id" type="xs:string" use="required" />
																	<xs:attribute name="title" type="xs:string" use="required" />
																</xs:extension>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									
									<xs:attribute name="id" type="xs:string" use="required" />
									<xs:attribute name="title" type="xs:string" use="required" />
									<xs:attribute name="description" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			
			<xs:attribute name="id" type="xs:string" use="required" />
			<xs:attribute name="title" type="xs:string" use="required" />
			<xs:attribute name="description" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="guide">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="introduction" type="content-type" minOccurs="1" maxOccurs="1"/>
				<xs:element name="related" type="ref-list-type" minOccurs="0" maxOccurs="1"/>
				
				<xs:element name="articles" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="article">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="introduction" type="content-type" minOccurs="1" maxOccurs="1"/>
										<xs:element name="related" type="ref-list-type" minOccurs="0" maxOccurs="1"/>
										
										<xs:element name="topics" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="topic">
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="content-type">
																	<xs:attribute name="id" type="xs:string" use="required" />
																	<xs:attribute name="title" type="xs:string" use="required" />
																</xs:extension>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									
									<xs:attribute name="id" type="xs:string" use="required" />
									<xs:attribute name="title" type="xs:string" use="required" />
									<xs:attribute name="description" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			
			<xs:attribute name="id" type="xs:string" use="required" />
			<xs:attribute name="title" type="xs:string" use="required" />
			<xs:attribute name="description" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ref">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="simple-content-type">
					<xs:attribute name="target" type="xs:string" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="image">
		<xs:complexType>
			<xs:attribute name="source" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<!-- ===== -->
	<!-- Types -->
	<!-- ===== -->
	
	<xs:complexType name="ref-list-type">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="item" type="simple-content-type"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="simple-content-type" mixed="true">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="emphasis" type="simple-content-type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="strong" type="simple-content-type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ref"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="content-container-type">
		
	</xs:complexType>
	
	<xs:complexType name="content-type">
		<xs:complexContent mixed="true">
			<xs:extension base="simple-content-type">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:any namespace="http://www.couchbase.com/lite/api" minOccurs="0" maxOccurs="unbounded"/>
					
					<xs:element name="paragraph" type="content-type" minOccurs="0" maxOccurs="unbounded"/>
					
					<!-- List -->
					<xs:element name="ordered-list" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence minOccurs="1" maxOccurs="unbounded">
								<xs:element name="list-item"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="unordered-list" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence minOccurs="1" maxOccurs="unbounded">
								<xs:element name="list-item"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="description-list" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence minOccurs="1" maxOccurs="unbounded">
								<xs:element name="list-item">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="title" type="content-type"/>
											<xs:element name="description" type="content-type"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					
					<xs:element ref="image" minOccurs="0" maxOccurs="unbounded"/>
					
					<xs:element name="figure" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="image" minOccurs="1" maxOccurs="1"/>
								<xs:element name="caption" type="simple-content-type" minOccurs="1" maxOccurs="1"/>
							</xs:sequence>
							<xs:attribute name="importance">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="primary"/>
										<xs:enumeration value="secondary"/>
										<xs:enumeration value="tertiary"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					
					<xs:element name="note" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="content-type">
									<xs:attribute name="type">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="note"/>
												<xs:enumeration value="tip"/>
												<xs:enumeration value="caution"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					
					<!-- Sections
					<xs:element name="section" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="content-type">
									<xs:attribute name="title" type="xs:string"/>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="subsection" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="content-type">
									<xs:attribute name="title" type="xs:string"/>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element> -->
					
					<xs:element name="table" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="header" minOccurs="1" maxOccurs="1">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="cell" minOccurs="1" maxOccurs="unbounded">
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="simple-content-type">
															<xs:attribute name="colspan" type="xs:integer"/>
															<xs:attribute name="rowspan" type="xs:integer"/>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="rows" minOccurs="1" maxOccurs="1">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="row" minOccurs="1" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="cell" minOccurs="1" maxOccurs="unbounded">
															<xs:complexType>
																<xs:complexContent>
																	<xs:extension base="content-type">
																		<xs:attribute name="colspan" type="xs:integer"/>
																		<xs:attribute name="rowspan" type="xs:integer"/>
																	</xs:extension>
																</xs:complexContent>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					
					<!-- Code -->
					
					<!-- Code-Set -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>